[submodule "themes/zola-bearblog"]
	path = themes/zola-bearblog
	url = https://codeberg.org/alanpearce/zola-bearblog
[submodule "themes/tabi"]
	path = themes/tabi
	url = https://github.com/welpo/tabi.git
